:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f5f6f7; /* Gris muy claro como el original */
  color: #1b1b32;           /* El azul oscuro de freeCodeCamp */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}